######################################################################
# FILENAME: relay.config
######################################################################
# NOTES:  This file uses the "#" character to comment a line. 
# Parameters are in the format:
#    # parameter - definition, default,
#    #             and other info
#    #
#
#    # parameter = value
#
# To change a parameter, (1) remove the '#' before the parameter to
# enable it and (2) change the value after the equals sign.  Note that 
# capitalization does matter.
#
# IMPORTANT: If you edit this file in Notepad or a similar text 
# editor, be sure that it does not add the extension '.txt' to the end
# of the file name.  If you are using Windows and have not already,
# you may wish to go to Control Panel > Folder Options > View
# and uncheck the box for hiding extensions for known file types
#
######################################################################


# THIS FILE IS NOT REQUIRED TO RUN THE aRelay PROGRAM

#### for ip linktype
# port - Tells the program what ip port the relay is located on.
#           This is typically a number above 6000 isn't limited to
#           a range.
#
# port = 8000

# portname - Tells the program which device to relay with.
#            On Unix, you may use 'ls /dev' to find the port.
#            Values are case sensitive and must be typed correctly. 
#            For example, "com1" is not the same as "COM1".
#
# portname = tty.usbserial

